.header {
  background-color: #2196f3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.nav {
  max-width: 1316px;
  margin: 0 auto;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 22px;
}
