.header {
  background-color: #2196f3;
}

.nav {
  max-width: 1316px;
  margin: 0 auto;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 23px;
}
